<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>首页</title>
    <script src="__PUBLIC__/js/lib/init.js"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/lib/base.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css">
</head>
<body>
<div class="g-container">
    <i class="s-logo"></i>
    <menu class="u-links">
        <a href="__CONTROLLER__/findSchoolfellow">寻找身边重邮人</a>
        <a href="__CONTROLLER__/findAllSchoolfellow">查找重邮人</a>
        <a href="__CONTROLLER__/information">完善或修改信息</a>
    </menu>
    <dl class="s-tips">
        <dt class="u-sth">使用说明</dt>
        <dd>1.关注重邮小帮手(cyxbswx),绑定学号打开提供"位置信息"</dd>
        <dd>2.打开手机GPS功能</dd>
    </dl>

    <!--<span class="s-comp">©红岩网校出品</span>-->
</div>
</body>
<script src="__PUBLIC__/js/index.js"></script>
</html>