<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>信息</title>
    <script src="__PUBLIC__/js/lib/init.js"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/lib/base.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/info.css">
</head>
<body>
<div class="s-wrap">
    <header class="u-menu">
        <a href="{:U('Index/index')}?openid={:session('info.openid')}" class="u-left"></a>
        <a class="f-sub js-form_sub" href="javascript:void(0)">完成</a>
        <span>完善或修改信息</span>
    </header>
    <form action="__CONTROLLER__/perfectInfo" method="post" id="info_form" enctype="multipart/form-data">
        <div class="m-inputs">
            <div class="item"><!--姓名-->
                <span class="filed_name">姓名</span>
                <input type="text" class="need_input" name="uname" <if condition="$info[0]['name']"> value="{$info[0]['name']}"<else />placeholder='输入姓名'</if> /><!--默认的姓名-->
            </div>
            <div class="item">
                <span class="filed_name">性别</span>
                <div class="de_label">
                   <span class="js-label_way">
                        <if condition="$info[0]['sex']">
                            {$info[0]['sex']}
                            <else />
                            男
                        </if>
                   </span>
                    <i class="s-arrow"></i></div>
                <select name="ugender" id="s_sex" class="select_cahnge js-c_way">
                    <option value="男" {$info[0]['sex'] == '男'? "selected='selected'" : ''}>男</option>
                    <option value="女" {$info[0]['sex'] == '女'? "selected='selected'" : ''}>女</option>
                </select>
            </div>
            <div class="item">
                <span class="filed_name">学院</span>
                <div class="de_label">
                    <span class="js-label_way"><if condition="$info[0]['college']">
                        {$info[0]['college']}
                        <else />
                        填入学院
                    </if></span>
                    <i class="s-arrow"></i></div>
                <select name="college"  class="select_cahnge js-c_way">
                    <option value="光电/半导体" {$info[0]['college'] == '光电/半导体'? "selected='selected'" : ''}>光电/半导体</option>
                    <option value="计算机" {$info[0]['college'] == '计算机'? "selected='selected'" : ''}>计算机</option>
                    <option value="通信" {$info[0]['college'] == '通信'? "selected='selected'" : ''}>通信</option>
                    <option value="生物" {$info[0]['college'] == '生物'? "selected='selected'" : ''}>生物</option>
                    <option value="经管" {$info[0]['college'] == '经管'? "selected='selected'" : ''}>经管</option>
                    <option value="外国语" {$info[0]['college'] == '外国语'? "selected='selected'" : ''}>外国语</option>
                    <option value="国际" {$info[0]['college'] == '国际'? "selected='selected'" : ''}>国际</option>
                    <option value="软件" {$info[0]['college'] == '软件'? "selected='selected'" : ''}>软件</option>
                    <option value="体育" {$info[0]['college'] == '体育'? "selected='selected'" : ''}>体育</option>
                    <option value="理学院" {$info[0]['college'] == '理学院'? "selected='selected'" : ''}>理学院</option>
                    <option value="自动化" {$info[0]['college'] == '自动化'? "selected='selected'" : ''}>自动化</option>
                    <option value="传媒" {$info[0]['college'] == '传媒'? "selected='selected'" : ''}>传媒</option>
                    <option value="先进制造" {$info[0]['college'] == '先进制造'? "selected='selected'" : ''}>先进制造</option>
                    <option value="法学院" {$info[0]['college'] == '法学院'? "selected='selected'" : ''}>法学院</option>
                </select>
            </div>
            <div class="item">
                <span class="filed_name">家乡 </span>
                <div class="de_label">
                    <span class="js-label_way"><if condition="$info[0]['hometown']">
                        {$info[0]['hometown']}
                        <else />
                        重庆
                    </if></span>
                    <i class="s-arrow"></i></div>
                <select name="hometown" id="" class="select_cahnge js-c_way">
                    <option value="北京" {$info[0]['hometown'] == '北京'? "selected='selected'" : ''}>北京</option>
                    <option value="上海" {$info[0]['hometown'] == '上海'? "selected='selected'" : ''}>上海</option>
                    <option value="天津" {$info[0]['hometown'] == '天津'? "selected='selected'" : ''}>天津</option>
                    <option value="重庆" {$info[0]['hometown'] == '重庆'? "selected='selected'" : ''}>重庆</option>
                    <option value="黑龙江" {$info[0]['hometown'] == '黑龙江'? "selected='selected'" : ''}>黑龙江</option>
                    <option value="吉林" {$info[0]['hometown'] == '吉林'? "selected='selected'" : ''}>吉林</option>
                    <option value="辽宁" {$info[0]['hometown'] == '辽宁'? "selected='selected'" : ''}>辽宁</option>
                    <option value="江苏" {$info[0]['hometown'] == '江苏'? "selected='selected'" : ''}>江苏</option>
                    <option value="山东" {$info[0]['hometown'] == '山东'? "selected='selected'" : ''}>山东</option>
                    <option value="安徽" {$info[0]['hometown'] == '安徽'? "selected='selected'" : ''}>安徽</option>
                    <option value="河北" {$info[0]['hometown'] == '河北'? "selected='selected'" : ''}>河北</option>
                    <option value="河南" {$info[0]['hometown'] == '河南'? "selected='selected'" : ''}>河南</option>
                    <option value="湖北" {$info[0]['hometown'] == '湖北'? "selected='selected'" : ''}>湖北</option>
                    <option value="湖南" {$info[0]['hometown'] == '湖南'? "selected='selected'" : ''}>湖南</option>
                    <option value="江西" {$info[0]['hometown'] == '江西'? "selected='selected'" : ''}>江西</option>
                    <option value="山西" {$info[0]['hometown'] == '山西'? "selected='selected'" : ''}>山西</option>
                    <option value="陕西" {$info[0]['hometown'] == '陕西'? "selected='selected'" : ''}>陕西</option>
                    <option value="四川" {$info[0]['hometown'] == '四川'? "selected='selected'" : ''}>四川</option>
                    <option value="青海" {$info[0]['hometown'] == '青海'? "selected='selected'" : ''}>青海</option>
                    <option value="海南" {$info[0]['hometown'] == '海南'? "selected='selected'" : ''}>海南</option>
                    <option value="广东" {$info[0]['hometown'] == '广东'? "selected='selected'" : ''}>广东</option>
                    <option value="贵州" {$info[0]['hometown'] == '贵州'? "selected='selected'" : ''}>贵州</option>
                    <option value="浙江" {$info[0]['hometown'] == '浙江'? "selected='selected'" : ''}>浙江</option>
                    <option value="福建" {$info[0]['hometown'] == '福建'? "selected='selected'" : ''}>福建</option>
                    <option value="台湾" {$info[0]['hometown'] == '台湾'? "selected='selected'" : ''}>台湾</option>
                    <option value="甘肃" {$info[0]['hometown'] == '甘肃'? "selected='selected'" : ''}>甘肃</option>
                    <option value="云南" {$info[0]['hometown'] == '云南'? "selected='selected'" : ''}>云南</option>
                    <option value="内蒙古" {$info[0]['hometown'] == '内蒙古'? "selected='selected'" : ''}>内蒙古</option>
                    <option value="宁夏" {$info[0]['hometown'] == '宁夏'? "selected='selected'" : ''}>宁夏</option>
                    <option value="新疆" {$info[0]['hometown'] == '新疆'? "selected='selected'" : ''}>新疆</option>
                    <option value="西藏" {$info[0]['hometown'] == '西藏'? "selected='selected'" : ''}>西藏</option>
                    <option value="云南" {$info[0]['hometown'] == '云南'? "selected='selected'" : ''}>云南</option>
                </select>
            </div>
            <div class="item">
                <span class="filed_name">联系方式</span>
                <div class="de_label">
                    <span class="js-label_way">
                        <if condition="$info[0]['contact']">
                            {$info[0]['contact']}
                            <else />
                            QQ
                        </if>
                    </span>
                    <i class="s-arrow"></i></div>
                <select name="connect"  required="required"  data-tag="spec" class="select_cahnge js-c_way">
                    <option value="QQ" {$info[0]['contact'] == 'QQ'? "selected='selected'" : ''}>QQ</option>
                    <option value="微信号" {$info[0]['contact'] == '微信号'? "selected='selected'" : ''}>微信号</option>
                    <option value="电话号码" {$info[0]['contact'] == '电话号码'? "selected='selected'" : ''}>电话号码</option>
                    <option value="邮箱" {$info[0]['contact'] == '邮箱'? "selected='selected'" : ''}>邮箱</option>
                </select>
            </div>
            <div class="s-c_way">
                <input type="text" required="required" name="ucv"
                <if condition="$info[0]['way']"> value="{$info[0]['way']}"<else />placeholder='输入号码'</if>
                       class="js-way_tip"/>
            </div>
            <div class="item">
                <span class="filed_name">简介</span>
                <input name="introduce" type="text" class="need_input"
                <if condition="$info[0]['introduce']"> value="{$info[0]['introduce']}"<else />placeholder='输入简介'</if> />
            </div>
            <div class="upload_img js-up_hcon">
                上传图片(默认为微信头像)
                <input type="file" name="photo" class="u-fup"/>
            </div>
        </div>
    </form>
</div>
</body>
<script src="__PUBLIC__/js/info.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</html>