<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>校友</title>
    <script src="__PUBLIC__/js/lib/init.js"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/lib/base.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/alumnus.css">
</head>
<body>
<div class="s-wrap">
    <header class="u-menu">
        <a href="{:U('Index/findSchoolfellow')}" class="u-left"></a>
        <span>校友详细信息</span>
    </header>
    <div class="u-b_s" style="/*background-image: url('images/alumnus/1.png')*/">  <!--外层头像-->
        <i class="s-h_c" style="background-image: url('{$info.photo}')"></i><!--内层头像-->
    </div>
    <div class="t-i">
        <div class="row">
            <div class="col">姓名</div>
            <div class="col">{$info['name'] == null ? '他还没填名字' : $info['name']}</div>
        </div>
        <div class="row">
            <div class="col">性别</div>
            <div class="col">{$info['sex'] == null ? '他还没填性别' : $info['sex']}</div>
        </div>
        <div class="row">
            <div class="col">家乡</div>
            <div class="col">{$info['hometown'] == null ? '他还没填家乡' : $info['hometown']}{$info.hometown}</div>
        </div>
        <div class="row">
            <div class="col">联系方式</div>
            <div class="col">{$info['contact'] == null ? '他还没填联系方式' : $info['contact']} {$info['contact'] == null ? '' : $info['way']} </div>
        </div>
        <div class="row">
            <div class="col">简介</div>
            <div class="col">{$info['introduce'] == null ? '他还没填简介' : $info['introduce']}</div>
        </div>
    </div>
</div>
</body>
</html>